node_modules/
client/node_modules/
server/node_modules/

.env
client/.env
server/.env

client/dist/
server/dist/


*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
.vscode/
.idea/